*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.main{
    color: white;
    width: 100%;
    min-height: 100vh;
    background-image: url(./src/scenic-view-sunrise-mountains-carpathian-ukraine_146671-19541.jpg);
    background-size: cover;
}
.mainNight{
    color: black;
    width: 100%;
    min-height: 100vh;
    background-image: url(./src/beautiful-cloudscape-sunset-evening-dawn_53876-14284.jpg);
    background-size: cover;
}
button{
    font-size:1vw !important;
}

.box{
    margin: 40px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background: rgb(238,174,202);
    /* background:linear-gradient(90deg, rgb(72 74 120) 0%, rgb(149 83 163) 56%, rgb(232 158 183) 100%); */
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(191,181,218,1) 56%, rgba(148,187,233,1) 100%);
}
.boxNight{
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background: rgb(59,10,92);
    background: linear-gradient(90deg, rgba(59,10,92,1) 13%, rgba(144,37,55,1) 64%, rgba(244,67,54,1) 100%, rgba(253,29,29,1) 100%, rgba(252,69,202,1) 100%);
}
.highlow{
    padding: 10px;
    border-radius: 40px;
    background: rgb(238,174,202);
    /* background:linear-gradient(90deg, rgb(72 74 120) 0%, rgb(149 83 163) 56%, rgb(232 158 183) 100%); */
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(191,181,218,1) 56%, rgba(148,187,233,1) 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none;
    border: none;
    color: white;
}
.highlowNight{
    padding: 10px;
    border-radius: 40px;
    background: rgb(59,10,92);
    background: linear-gradient(90deg, rgba(59,10,92,1) 13%, rgba(144,37,55,1) 64%, rgba(244,67,54,1) 100%, rgba(253,29,29,1) 100%, rgba(252,69,202,1) 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none;
    border: none;
    color: white;
}

.search{
   
   width: 80%;

}
input{
    color: #ebafcb;
    width: 50%;
    padding: 0 10px;
    border-radius: 30px;
}
@media(max-width: 767px){
    .highlow, .highlowNight{
        font-size: 2vw !important;
        padding: 5px;
    }
    .leftdata{
        padding-left: 4rem !important;
    }
}
@media(max-width: 428px){
    .highlow, .highlowNight{
        font-size: 3vw !important;
        padding: 3px;
    } 
    .coulds{
        
        display: none !important;
    }

}
.modebtn{
    border-radius: 30px;
    display: flex;
    width: 100px;
    margin-right: 3rem;
}
.modebtn  >*{
width: 100%;
cursor: pointer;
color: black;
text-align: center;
}
.lightmode{
    border-radius: 30px 0px 0px 30px;
}
.darkmode{
    border-radius: 0px 30px 30px 0px;
}